@media (max-width: 1000px){


/* 
white: #e6e6e6  , #cccccc,  #b3b3b3;
black:#333333 ,    #737373;
blue (background):#0059b3 ,  #00264d;
background:rgba(15,15,15,0.6);
box-shadow: 5px 5px 60px 0px black;
box-shadow: 0px 0px 20px 0px black; : makes all sides have equal shadow
*/

.section2,.section3,
.section4,.section5,
.section6, .section7,
.section-7-ml, .section8,
.section9, .section10,
.section11{
	height: 100%;
}



.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.menu-icon-div{
	border:1px solid #e6e6e6;
	width:50px;
	position:absolute;
	top:30px;
	right: 50px;
	color:#e6e6e6;
	text-align: center;
}

.menu-icon-div span{

}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



/* SECTION1 */
header .header-link-inner-grid{
	display: none;
}

.section1 .container{
	text-align: center;
	color:#e6e6e6;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section1 .container-adj{
	padding-bottom: 100px;
}

.section1 .container h5{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color:#b3b3b3;
}

.section1 .container h1{
	text-align: center;
	font-size:50px;
	font-weight: bold;
	line-height: 1.5em;
	padding:2px 0px 10px 0px;

}


/* SECTION2 */
.section2 .grid-div{
	display: block;
}

.section2 .img-div{
	width:80%;
	height: 400px;
	margin:0px auto;
}


.section2 .img-div img{
	width:100%;
	height:100%;
	border-radius: 3px;
	 border:5px solid white;
}

.hello-div h3{
	color:#e6e6e6;
	font-weight: bold;
	font-size:50px;
	width:80%;
	margin:20px auto 20px auto;
}

.hello-div i{
	font-size:30px;
}

.hello-div em{
	margin:0px 15px;
}

.hello-div p{
	width:80%;
	margin:20px auto 20px auto;
}


/* SECTION3 */
.section3{
	background-image: url("web3.gif");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color:#e6e6e6;
	height: none;
}

.section3 .cover{
	padding:60px 0px;
}

.service-div h4{
	font-size: 45px;
	width:210px;
}

.section3 .grid-div{
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 5em;
}

.section3 .inner-grid-div{
	padding-bottom: 20px;
}

.section3 .inner-grid-div div{
	position: relative;
	margin:0px auto 70px auto;
	width:200px;
}

.section3  .fa{
	border-radius: 50%;
	padding:20px;
	font-size: 50px;
	position: absolute;
	top:-40px;
	background: #00264d;
	box-shadow: 5px 5px 60px 0px black;
}

.section3 .inner-grid-div h5{
	padding:0px 10px;
	font-size: 30px;
}

.section3 .inner-grid-div p{
	font-size: 20px;
}


/* SECTION4 */
.section4{
	padding-bottom: 100px;
}

.section4 .exper-div h4{
	font-size: 40px;
	width:340px;
}

.section4 .grid-div{
	display: grid;
	grid-template-columns: 1fr;
}

.section4 .work .work-h4{
	margin-top: 50px;
}

.section4 .grid-div .inner-grid-div .edu-h4{
	color:#e6e6e6;
	padding-left: 8px;
	margin-bottom: 50px;
	font-size:30px;
}

.section4 .grid-div .inner-grid-div i{
	margin-right:15px;
	color:#0059b3;
	font-size: 34px;
}

.section4 .grid-div .inner-grid-div h4{ /* css color */
	font-size:20px;
}

.section4 .sch-inner-div-1 h5{
	font-size: 18px;
}

.section4 .grid-div .inner-grid-div p{
	font-size: 16px;
}

.section4 .grid-div .inner-grid-div .date{
	font-size: 14px;
}

.section4 .resume-div button{
	font-size: 20px;
	width: 300px;
}

.section4 .resume-div i{
	font-size: 25px;
	padding:10px 0px;
}




/* SECTION5 */
.section5 .grid-div1{
	display: grid;
	grid-template-columns:1fr;
	grid-gap: 2em;
}

.section5 .grid-div2{
	display: grid;
	grid-template-columns:1fr;
	grid-gap: 2em;
}




/* SECTION6 */
.section6{
	padding:80px 0px;
}

.section6 .grid-div{
	display: grid;
	grid-template-columns:350px;
	grid-gap:4em;
	justify-content: center;
}

.section6 .grid-div .inner-div{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
	box-shadow: 5px 5px 60px 0px black;
	border:#e6e6e6 1px solid;
}

.section6 .cover i{
	border:2px solid #e6e6e6;
	border-radius: 50%;
	font-size: 40px;
	padding:15px;
	background:#00264d;
	box-shadow: 0px 0px 20px 0px black;
	position: absolute;
	bottom:15px;
	right: 15px;
}





/* SECTION7 */
.section7{
	display: none;
}




/* SECTION8 */
.section8{
	padding:80px 0px 30px 0px;
}

.section8 .grid-div{
	display: grid;
	grid-template-columns:1fr;
	grid-gap: 2em;
}

.section8 .grid-div div{
	margin-bottom: 90px;
}

.section8 i{
	font-size: 40px;
}

.section8 .fa-mobile{
	padding-left: 30px;
	padding-right: 30px;
}




/* SECTION9 */
.section9 .cover{
	padding:80px 0px;
}



/* SECTION10 */
.section10{
	height: 600px;
}



/* SECTION11 */
.section11 .link-div .fa,
.section11 .link-div i{
	margin:0px 8px;
	font-size: 25px;
	padding:17px;
}

.section11 .link-div .fa-facebook{
	width:60px;
}




/* FOOTER */
.footer p{
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.6px;
	line-height: 2em;
}

.footer p .kyle{
	font-size:18px;
}










/* END OF MEDIA QUERY */
}
